run = "java -jar build/libs/rap-0.0.1-SNAPSHOT.jar"
language = "java17"

[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = "jdt-language-server"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8080
externalPort = 8080
